/env
API Keys.txt
Chatbot Project Overview.txt
Deployment Environment Variables.txt
Full Dataset and Integration Process.txt
IMPORTANT UPDATES!.txt
Integrating the chatbot with my database.txt
marketing_sample_for_amazon_com-ecommerce__20200101_20200131__10k_data.csv
OpenAI.txt
Product Message.txt
project.py
AQAY Assistant.ipynb